## Pandas 1 - Exercício 3

In [2]:
import pandas as pd

##### Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

| Peso (kg) | Altura (cm) | Idade |
| --------- | ----------- | ----- |
| 72	    | 180         |	31    |
| 80	    | 170         |	21    |
| 60	    | 175         |	16    |
| 90	    | 174         |	28    |
| 100	    | 185         |	23    |

Com base no DataFrame criado, realize o que pedido nos itens abaixo:

In [9]:
valores = [[72, 180, 31], [80, 170, 21], [60, 175, 16], [90, 174, 28], [100, 185, 23]]
df = pd.DataFrame(data=valores, columns=['Peso (kg)', 'Altura (cm)', 'Idade'])
display(df)

   Peso (kg)  Altura (cm)  Idade
0         72          180     31
1         80          170     21
2         60          175     16
3         90          174     28
4        100          185     23

##### (a) Visualize apenas os dados da coluna que contém a altura das pessoas.

In [11]:
display(df['Altura (cm)'])

0    180
1    170
2    175
3    174
4    185
Name: Altura (cm), dtype: int64

###### (b) Obtenha a idade média das pessoas.

In [12]:
print(f"Idade média das pessoas: {df['Idade'].mean()}")

Idade média das pessoas: 23.8

###### (c) Obtenha os dados das pessoas que estão abaixo da altura média.

In [15]:
altura_media = df['Altura (cm)'].mean()  #176.8
mais_baixos = (df['Altura (cm)'] < altura_media)
display(df[mais_baixos])

   Peso (kg)  Altura (cm)  Idade
1         80          170     21
2         60          175     16
3         90          174     28

###### (d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

In [37]:
df['IMC'] = df['Peso (kg)'] / (df['Altura (cm)']/100) ** 2
df

   Peso (kg)  Altura (cm)  Idade        IMC
0         72          180     31  22.222222
1         80          170     21  27.681661
2         60          175     16  19.591837
3         90          174     28  29.726516
4        100          185     23  29.218408

##### (e) Remova a coluna que contém a idade das pessoas.

In [46]:
df = df.drop(columns = ['Idade'])
df

   Peso (kg)  Altura (cm)        IMC
0         72          180  22.222222
1         80          170  27.681661
2         60          175  19.591837
3         90          174  29.726516
4        100          185  29.218408

##### (f) Salve esses dados do DataFrame em um arquivo csv.

In [47]:
df.to_csv('./arquivos_gerados/imc.csv', sep=',', index=None)