## Pandas 1 - Exercício 5

In [1]:
import pandas as pd

##### Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

In [2]:
df = pd.read_csv('./arquivos_gerados/imc.csv', sep=',')
df

   Peso (kg)  Altura (cm)        IMC
0         72          180  22.222222
1         80          170  27.681661
2         60          175  19.591837
3         90          174  29.726516
4        100          185  29.218408

##### (a) Adicione uma nova coluna nesse DF chamada `Classificação`, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

| IMC | Classificação | Obesidade (grau) |
| --- | ------------- | ---------------- |
| Menor que 18,5 | Magreza | 0 |
| Entre 18,5 e 24,9 | Normal | 0 |
| Entre 25,0 e 29,9	| Sobrepeso | I |
| Entre 30,0 e 39,9 | Obesidade | II |
| Maior que 40,0 | Obesidade Grave | III |

In [13]:
def classifica(imc):
    if imc < 18.5:
        return 'Magreza'
    elif imc < 25:
        return 'Normal'
    elif imc < 30:
        return 'Sobrepeso'
    elif imc < 40:
        return 'Obesidade'
    else:
        return 'Obesidade Grave'

        
df['Classificação'] = df['IMC'].apply(classifica)
df

   Peso (kg)  Altura (cm)        IMC Classificação
0         72          180  22.222222        Normal
1         80          170  27.681661     Sobrepeso
2         60          175  19.591837        Normal
3         90          174  29.726516     Sobrepeso
4        100          185  29.218408     Sobrepeso

###### (b) Salve em DataFrame no formato xlsx.

In [14]:
df.to_excel('./arquivos_gerados/imc_classificacao.xlsx', index=None)